<div class="main-contents">
  <h1>Log In</h1>
  <form>
    <label>Your e-mail</label>
    <input type="text" />

    <label>Your Password</label>
    <input type="text" />

    <input type="submit" />
  </form>
</div>