<div class="main-contents">
  <h1>this is new page</h1>
  <form>
    <label>Your Name</label>
    <input type="text" />

    <label>Your e-mail</label>
    <input type="text" />

    <input type="submit" />
  </form>
</div>