<header>
  <h1>My Simple App</h1>
  <ul class="header-list">
    <!-- <li>home</li>
    <li>about</li>
    <li>contact</li> -->
    <li><%= link_to "Home", "#" %></li>
    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Log in", "#" %></li>
  </ul>
</header>
